$PKGLINE
import kareltherobot.*;
import java.awt.Color;

/**
 * Write a concise summary of class $CLASSNAME here.
 * 
 * @author  (your name) 
 *   With assistance from 
 *
 * @version (a version number or a date) 
 */
public class $CLASSNAME extends Robot
{
    /**
     * Creates a $CLASSNAME object.
     *
     * @param street     specifies the vertical position on the grid
     *                   of this robot.
     * @param avenue     specifies the horizontal position on the grid
     *                   of this robot.
     * @param direction  specifies the direction of this robot.
     * @param beepers    specifies this robot's number of beepers.
     */
    public $CLASSNAME (int street, int avenue, 
    	   Direction direction, int beepers)
    {
        super(street, avenue, direction, beepers);
    }
    /* $CLASSNAME methods: */

}
